* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
button  {
  margin: 10px;
}
input {
  margin: 10px;
  padding : 10px 20px;
}
.box{
   height:200px;
    width:200px;
    background-color: red;
 }
.Page1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
 }
 .Page2{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
 }
 .Page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(9, 33, 41);
 }