*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html, body {
  height: 100%;
  width: 100%;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
} 
h1{
  margin: 20px;
  padding: 10px 70px;
  background-color: blanchedalmond;
  width: fit-content
}