*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  
  
}
html, body {
  height: 100%;
  width: 100%;
  
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color:black;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color:white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.card .top{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}

.center h3{
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}
.center h3 span{
  font-weight: 400;
  font-size: 9px;
  color: #8b8b8b;
  margin-left: 10px;
}
.center h2{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4{
  font-weight: 500;
  font-size: 10px;
  color: black;
  background-color: #dadada;
  border: 1px solid #b1b1b1;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1,5px solid #d7d7d7;
  padding-top: 15px;
}
.bottom button{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  border-width: 600;
}
.bottom h3{
  font-weight: 600;
  font-size: 18px;
}
.bottom p{
  font-weight: 400;
  font-size: 14px; 
  color: #8b8b8b;
}