*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  
}
html, body {
  height: 100%;
  width: 100%;
}

input,button{
  padding: 20px 30px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px

}